/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.negreta {
    font-weight: bold;
}

.linkRedireccio{
    color: rgb(245, 157, 35);
    text-decoration: none;
}

.linkRedireccio:hover {
    color: rgb(93, 95, 121);
    text-decoration: none;
}

.contenidorMain {
    margin-bottom: 30px;
}
/* header */

.iconaHeader{
    display: flex;
    align-items: flex-end;
    margin-left: 150px;
}

.iconaHeader > p{
    margin-left: 0.5em;
    color: rgb(0, 0, 0);
}

.titolHeader{
    display: flex;
    align-items: flex-end;
}

.grid-nav{
    margin-bottom: 50px;
    display: flex;
    column-gap: 10px;
}

.navegador li {
    align-items: flex-end;
    list-style: none;
    text-align: center;
    color: rgb(93, 95, 121);
}
.navegador li a {
    display: inline-block;
    color: rgb(93, 95, 121);
    text-align: right;
    text-decoration: none;
}

.link:hover {
    color: rgb(245, 157, 35);
}

.logoCT {
    width: 60px;
    height: auto;
}


/*---------------------------------------------------------------*/

/* footer */

.footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

.footer > p{
    margin-bottom: 10px;
}

.iconaFooter {
    margin-top: 20px;
    width: 90px;
    height: auto;
}

.buttonSub{
    color: white;
    background-color: rgb(240, 93, 80);
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5%;
}

.input-email{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.contenidorPolitiquesFooter{
    display: grid;
    grid-template-columns: auto auto auto;
    text-decoration: none;
    column-gap: 0px;
    color: white;
}

.PolitiquesFooter{

}
/* ----------------------------------------------- */

/* INDEX*/

.contenidorCapçalera {
    margin-top: 30 px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(245, 157, 35);
    display: flex;
    align-items: flex-end;
}

.contenidorReferentsC{
    margin-top: 30px;
    margin-bottom: 30px;
}

#contenidorMolecula {
    background-color: rgb(240, 93, 80);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#iconaMolecula {
    width: 150px;
    height: auto;
}

.contenidorTextCapçalera{
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 30px;
}

.contenidorTextCapçalera > h1{
    margin-top: 0px;
}

.contenidorReferentsC{
    margin-left: 150px;
    margin-right: 150px;
}

.contenidorReferentsC > h2{
    text-align: center;
}

.contenidorReferentsC > img{
    width: 180px;
    height: 150px;
}


.grid-cientifiques-container{
    display: grid;
    grid-template-columns: auto auto auto auto;


}

.grid-cientifiques{

    padding: 20px;
    font-size: 30px;
    text-align: center;
}


.imatgeCientifiquesIndex{
    width: 200px;
    height: auto;
}

.grid-cientifiques p{
    text-align: left;
}

.titolCientífiquesIndex{
    color: gray;
    font-size: 12px;
}

.nomCientífiques{
    font-size: 16px;
}

.accept-btn {
    position: relative;
    height: 15px;
    width: 15px;    
}


/*-------------------------------------------------*/

/* referents*/
/*
#containerGridReferents{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}
*/
#navegadorReferents {
    margin-right: 0px;
    padding-right: 0px;
    display: flex;
}

/* ----------------------------------------------- */


/* 11 de febrer */
#containerGris11F{
    background-color: rgb(227, 228, 230);
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 80%;
}

#main-11F{
    margin-left: 15%;
    margin-right: 15%;
}

#titol-11F {
    text-align: center;
    margin-bottom: 20px;
}

.videoYT {
    position: relative;
    display: block;
    width: 100%;
    padding: 0px;
    overflow: hidden;
}

.videoYT-settings {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    border: 0px;
}

.videoYT-settings {
    content: "";
    display: block;
    padding-top: 55%;
}

/* ----------------------------------------------- */


/* iniciatives */

#titol-Iniciatives{
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.containerIniciatives{
    margin-left: 15%;
    margin-right: 15%;
}

.subContainerIniciatives{
    margin-top: 30px;
}

.containerIniciatives > h2{
    font-weight: bold;
}

.quadratTaronja {
    display: ;
    width: 10px;           
    height: 10px;          
    background: rgb(240, 93, 80);        
    border: none; 
  }
/* ----------------------------------------------- */