/*
@media (max-width: 767px){

}

@media (min-width:768px) and (max-width: 990px){
flex-direction: column;
}

@media (min-width: 991px){
    .contenidor-Web {
        width: 100%;
    }
}
*/

/* PC */
@media screen and (min-width: 1024px) {

    /* header */

    .iconaHeader {
        display: flex;
        align-items: flex-end;
        margin-left: 18%;
        margin-top: 20px;
    }

    .iconaHeader>p {
        margin-left: 10px;
        color: rgb(0, 0, 0);
    }

    .titolHeader {
        display: flex;
        align-items: flex-end;
        font-weight: 800;
    }

    .grid-nav {
        display: flex;
        column-gap: 10px;
        margin-right: 9%;
    }

    .grid-item {
        font-weight: 800;
    }

    .navegador {
        width: 70%;
    }

    .navegador nav {
        display: flex;

        justify-content: flex-end;

        align-items: flex-end;
    }

    .navegador li {
        align-items: flex-end;
        list-style: none;
        text-align: center;
        color: rgb(93, 95, 121);
    }

    .navegador li a {
        /*display: inline-block;*/
        color: rgb(93, 95, 121);
        text-align: right;
        text-decoration: none;
    }

    .link:hover {
        color: rgb(245, 157, 35);
    }

    .logoCT {
        width: 60px;
        height: auto;
    }


    /*-----------------------------------*/
}

/* TABLET */
@media screen and (min-width:415px) and (max-width: 1023px) {
    /* header */

    .iconaHeader {
        display: flex;
        align-items: flex-end;
        margin-left: 18%;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .iconaHeader>p {
        margin-left: 10px;
        color: rgb(0, 0, 0);
    }

    .titolHeader {
        font-weight: 800;
    }

    .grid-nav {
        display: flex;
        column-gap: 10px;
        margin-right: 9%;
        flex-direction: column;
    }

    .grid-item {
        font-weight: 800;
    }

    .navegador {
        width: 70%;
    }



    .navegador li {
        align-items: flex-end;
        list-style: none;
        text-align: center;
        color: rgb(93, 95, 121);
    }

    .navegador li a {
        /*display: inline-block;*/
        color: rgb(93, 95, 121);
        text-align: right;
        text-decoration: none;
    }

    .link:hover {
        color: rgb(245, 157, 35);
    }

    .logoCT {
        width: 60px;
        height: auto;
    }


    /*-----------------------------------*/
}

@media screen and (max-width: 480px) {
    /* PHONE */
    /* header */

    .iconaHeader {
        display: flex;
        align-items: flex-end;
        margin-left: 18%;
        margin-top: 20px;
    }

    .iconaHeader>p {
        margin-left: 10px;
        color: rgb(0, 0, 0);
    }

    .titolHeader {
        display: flex;
        align-items: flex-end;
        font-weight: 800;
    }

    .grid-nav {
        display: flex;
        column-gap: 10px;
        margin-right: 9%;
    }

    .grid-item {
        font-weight: 800;
    }

    .navegador {
        width: 70%;
    }

    .navegador nav {
        display: flex;

        justify-content: flex-end;

        align-items: flex-end;
    }

    .navegador li {
        align-items: flex-end;
        list-style: none;
        text-align: center;
        color: rgb(93, 95, 121);
    }

    .navegador li a {
        /*display: inline-block;*/
        color: rgb(93, 95, 121);
        text-align: right;
        text-decoration: none;
    }

    .link:hover {
        color: rgb(245, 157, 35);
    }

    .logoCT {
        width: 60px;
        height: auto;
    }


    /*-----------------------------------*/
}


/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.lineheight {
    line-height: 25px;
}

.negreta {
    font-weight: 700;
}

.lletra-petita {
    font-size: smaller;
}

.linkRedireccio {
    color: rgb(245, 157, 35);
    text-decoration: none;
}

.linkRedireccio:hover {
    color: rgb(93, 95, 121);
    text-decoration: none;
}

/* header */


.iconaHeader>p {
    margin-left: 10px;
    color: rgb(0, 0, 0);
}

.titolHeader {
    display: flex;
    align-items: flex-end;
    font-weight: 800;
}

.grid-nav {
    display: flex;
    column-gap: 10px;
    margin-right: 9%;
}

.grid-item {
    font-weight: 800;
}

.navegador {
    width: 70%;
}


.navegador li {
    align-items: flex-end;
    list-style: none;
    text-align: center;
    color: rgb(93, 95, 121);
}

.navegador li a {
    /*display: inline-block;*/
    color: rgb(93, 95, 121);
    text-align: right;
    text-decoration: none;
}

.link:hover {
    color: rgb(245, 157, 35);
}

.logoCT {
    width: 60px;
    height: auto;
}


/*-----------------------------------*/

/* footer */

.footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    position: absolute;
}

.footer>p {
    margin-bottom: 10px;
}

.iconaFooter {
    margin-top: 45px;
    margin-bottom: 5px;
    width: 90px;
    height: auto;
}

.buttonSub {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 93, 80);
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5%;
}

.input-email {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.contenidorPolitiquesFooter {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0px;
    margin-bottom: 30px;
    margin-right: 38%;
    margin-left: 38%;
}

.contenidor-AcceptarDades {
    margin-top: 10px;
    margin-bottom: 10px;
}

.PolitiquesFooter>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
}

/* ----------------------------------------------- */

/* INDEX*/

.contenidorCapçalera {
    margin-top: 65px;
    margin-bottom: 40px;
    margin-left: 18%;
    margin-right: 18%;
    background-color: rgb(245, 157, 35);
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}

.contenidorReferentsC {
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 18%;
    margin-right: 18%;

}

#contenidorMolecula {
    background-color: rgb(240, 93, 80);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#iconaMolecula {
    width: 200px;
    height: auto;
}

.contenidorTextCapçalera {
    margin-left: 3%;
    /* Passar a %? */
    margin-right: 3%;
    /* Passar a %? */
    padding-bottom: 5%;
}

.contenidorReferentsC>h2 {
    text-align: center;
}

.contenidorReferentsC>img {
    width: 180px;
    /* Passar a %? */
    height: 150px;
}

#enllaç-llista {
    text-align: center;
    display: block;
}

.grid-cientifiques-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
}

.grid-cientifiques {
    padding-top: 30px;
    /* Passar a %? */
    font-size: 30px;
    text-align: center;
}

.imatgeCientifiquesIndex {
    width: 275px;

    /* Passar a %? */
    height: auto;
}

.grid-cientifiques p {
    text-align: left;
}

.titolCientífiquesIndex {
    color: rgb(93, 95, 121);
    font-size: 12px;
}

.nomCientífiques {
    font-size: 16px;
}

.accept-btn {
    position: relative;
    height: 15px;
    width: 15px;
}


/*-------------------------------------------------*/

/* referents*/
/*
#containerGridReferents{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}
*/
#navegadorReferents {
    margin-right: 0px;
    /* Passar a %? */
    padding-right: 0px;
    /* Passar a %? */
    display: flex;
}

.numCientifiques {
    color: rgb(240, 93, 80);
    font-size: xx-large;
}



.contenidorSeccioReferents {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
}

/* ----------------------------------------------- */


/* 11 de febrer */
#containerGris11F {
    background-color: rgb(227, 228, 230);
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-left: 15px;
    /* Passar a %? */
    padding-right: 15px;
    /* Passar a %? */
    width: 80%;
}

#main-11F {
    color: rgb(93, 95, 121);
    margin: 10px 25% 60px 25%;
}

#containerGris11F {
    color: rgb(0, 0, 0);
}

#titol-11F {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

#subtitol-11F {
    font-weight: 700;
}

#contenidorONU {
    display: flex;
    align-items: flex-end;
}

#guioVermell {
    width: 30px;
    height: 3px;
    background: rgb(240, 93, 80);
    margin-bottom: 10px;
    margin-right: 5px;
    border: none;
}

#videoYT {
    margin-top: 20px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

#videoYT-settings {}


/* ----------------------------------------------- */


/* iniciatives */

#titol-Iniciatives {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.containerIniciatives {
    margin-left: 15%;
    margin-right: 15%;
}

.subContainerIniciatives {
    margin-top: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

}

.containerIniciatives>h2 {
    font-weight: bold;
}

.seccioIniciativa {
    width: 99%;
}

.quadratTaronja {
    /* display: ; */
    width: 15px;
    height: 15px;
    background: rgb(240, 93, 80);
    border: none;
    margin-right: 5px;
}

/* ----------------------------------------------- */