/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */

.iconaHeader{
    display: flex;
    align-items: flex-end;
    margin-left: 150px;
}

.iconaHeader > p{
    margin-left: 0.5em;
    color: rgb(0, 0, 0);
}
.navegador {
    align-items: center;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
}

.grid-nav{
    margin-bottom: 50px;
    
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 80px;
}

.navegador li {
    align-items: flex-end;
    list-style: none;
    text-align: center;
    color: rgb(93, 95, 121);
}
.navegador li a {
    display: inline-block;
    color: rgb(93, 95, 121);
    text-align: right;
    text-decoration: none;
}

.link:hover {
    color: rgb(245, 157, 35);
}

.iconaHeader {

}


/*-------------------------------------*/

/* footer */

.footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

.footer > p{
    margin-bottom: 10px;
}


/* ----------------------------------------------- */

/* INDEX*/

.contenidorCapçalera {
    margin-top: 30 px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(245, 157, 35);
    display: flex;
    align-items: flex-end;
}

.contenidorReferentsC{
    margin-top: 30px;
    margin-bottom: 30px;
}

#contenidorMolecula {
    background-color: rgb(240, 93, 80);
}

#iconaMolecula {

}

.contenidorTextCapçalera{
    margin-left: 25px;
}

.contenidorTextCapçalera > h1{
    margin-top: 0px;
}

.contenidorReferentsC{
    margin-left: 150px;
    margin-right: 150px;
}

.contenidorReferentsC > h2{
    text-align: center;
}

.contenidorReferentsC > img{
    width: 180px;
    height: 150px;
}

#linkLlistaRef{
    text-align: center;
    color: rgb(245, 157, 35);
    text-decoration: none;
}

#linkLlistaRef:hover {
    color: rgb(93, 95, 121);
    text-decoration: none;
}


/*-------------------------------------------------*/

/* referents*/


/* ----------------------------------------------- */


/* 11 de febrer */


/* ----------------------------------------------- */


/* iniciatives */


/* ----------------------------------------------- */